{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/css/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'user/ico/favicon.png' %}">
</head>

<body>
    <div class="container ">
        <div class="row">
            <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="login-title text-center">
                    <h2><span>Lets<strong>Bid</strong></span></h2>
                </div>
                <div class="login-content">
                    <div class="login-header ">
                        <h3><strong>Create an Account</strong></h3>
                        <p class="nang-p-rst">To connect with contracter/bidder </p>
                    </div>
                    <div class="login-body">
                        <form role="form" action="" method="POST" class="login-form">
                            {% csrf_token %} {{form.as_p}}
                            <div class="form-group">
                                <button type="submit" class="btn btn-nang form-control"><strong>Sign Up</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>