{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Letsbid-Profile</title>
    <link href="{% static 'entries/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'entries/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet">
    <link href="{% static 'entries/css/clean-blog.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand logo-sty" href="{% url 'letsbid-home' %}">LetsBid</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'letsbid-home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_contract' %}">Post now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url({% static 'entries/img/home-bg.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{object.user.username}}</h1>
                        <p>Verified</p>
                        {% if object.image %}
                        <center><img src="{{ object.image.url}}" alt="isha" height="50%" width="50%"></center>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="nang-info col-lg-8 col-md-10 mx-auto">
                <h2 class="post-title">General Info</h2>
                <ul>
                    <li>
                        <span>Firstname: </span> <span>{{object.user.first_name}}</span>
                    </li>
                    <li>
                        <span>Lastname: </span>{{object.user.last_name}}
                    </li>
                    <li>
                        <span>Date of Birth: </span>{{object.birth_date}}
                    </li>
                    <li>
                        <span>Location: </span>{{object.location}}
                    </li>
                    <li>
                        <span>E-mail: </span>{{object.user.email}}
                    </li>
                    <li>
                        <span>Phone: </span>{{object.phone_number}}
                    </li>
                    <li>
                        <span>Identity num: </span>{{object.citizenship_number}}
                    </li>
                    <li>
                        <span>Bio: </span>{{object.bio}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <hr class="nang-hr">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class="copyright text-muted">Copyright &copy; LetsBid 2019</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'entries/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'entries/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
</body>

</html>